*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.contorno{
    user-select: none;
}

.contorno .tiempo{
    height: 100px;
    background: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, .09);
}

.contorno .tiempo span{
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: black;
}

.tiempo span.colon{
    width: 10px;
}

.tiempo span.ms-colon, .tiempo span.milisegundos{
    color: white;
}

.contorno .botones{
    text-align: center;
    margin-top: 20px;
}

.botones button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: darkcyan;
    background: white;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, .09);
}

.botones button.desactivado {
    pointer-events: none;
    opacity: .7;
}
